{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Doctor Finder</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static main.css %}">
    </head>
    <body>
        <a href="{% url 'sign_up' %}">Sign up!</a>
        <a href="{% url 'login' %}">Login</a>
        {% if user %}
        <a href="{% url 'my_profile' %}">My Profile</a>
        {% endif %} 
    	<div>
            <h1 style="color:darkred">Doctor Finder</h1>
            <img src="/static/images/doctor.png" width="120" height="160"> 
        </div>
        {% block content %}
        {% endblock content %}
        <script src="{% static main.jss %}"> </script>
    </body>
</html>
