{% extends "website/base.html" %}

{% block content %}

<h2> <em>{{ doctor.username.name }}</em> Profile Page</h2>
	<div>
    	<ul>
	    	<li> <b>Speciality: </b> {{ doctor.speciality }}</li> 
	    	<li> <b>Rating: </b>{{ doctor.rating }}</li> 
	    	<li> <b>Next Availability: </b>{{ doctor.availability }}</li>
	    	<li> <b>Office Hours: </b>{{ doctor.officeHours }}</li>
	    	<li> <b>Location: </b>{{ doctor.street }} ,  {{ doctor.city }} ,  {{ doctor.state }},  {{ doctor.zip }}</li>
	    	<li> <b>Phone#: </b>{{ doctor.phoneNumber}}</li>
	    </ul>
    </div>
    <div>
    	<h3> Bio</h3>
    	<ul>
	    	<li> <b>Education: </b> {{ doctor.education }}</li> 
	    	<li> <b>Awards: </b>{{ doctor.awards }}</li> 
	    	<li> <b>Experience: </b>{{ doctor.experience }}</li>
	    </ul>
    </div>
    <div>
    	<h3> Insurance Accepted</h3>
		    <ol>
    	{% for insurance in insurances %}
			    	<li> {{ insurance.name }}</li> 
		{% endfor %}
			</ol>
    </div>
    <div>
    	<h3> Reviews</h3>
    	{% for review in reviews %}
	    	<div>
		    	<ul>
			    	<li> <b>Patient: </b> {{ review.patient.name }}</li> 
			    	<li> <b>Date: </b>{{ review.date }}</li>
			    	<li> <b>Rating: </b>{{ review.rating }}</li> 
			    	<li> <b>Comment: </b>{{ review.comment }}</li>
			    </ul>
			</div>
		{% endfor %}
    </div>
    

{% endblock %}
